<a href="https://colab.research.google.com/github/VenkatSirigineedi9/VenkatSirigineedi/blob/main/Fraud_Detection_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix

In [13]:
df = pd.read_csv('/content/Fraud datasetcc.csv')

In [14]:
df.head()

   accountAgeDays  numItems  ...  paymentMethodAgeDays label
0              29         1  ...             28.204861     0
1             725         1  ...              0.000000     0
2             845         1  ...              0.000000     0
3             503         1  ...              0.000000     0
4            2000         1  ...              0.000000     0

[5 rows x 6 columns]

In [15]:
df=pd.get_dummies(df,columns=["paymentMethod"])

In [16]:
df.head()

   accountAgeDays  numItems  ...  paymentMethod_paypal  paymentMethod_storecredit
0              29         1  ...                     1                          0
1             725         1  ...                     0                          1
2             845         1  ...                     0                          0
3             503         1  ...                     0                          0
4            2000         1  ...                     0                          0

[5 rows x 8 columns]

In [20]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('label',axis=1),df['label'],test_size=0.33,random_state=17)
clf=LogisticRegression().fit(x_train,y_train)
y_pred = clf.predict(x_test)

In [21]:
accuracy_score(y_pred,y_test)

1.0

In [22]:
confusion_matrix(y_test,y_pred)

array([[12753,     0],
       [    0,   190]])